[submodule "thirdparty/oneDNN"]
	path = thirdparty/oneDNN
	url = https://github.com/oneapi-src/oneDNN.git
[submodule "thirdparty/CLI11"]
	path = thirdparty/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "thirdparty/libraries.performance.math.onednn"]
	path = thirdparty/libraries.performance.math.onednn
	url = https://github.com/intel-innersource/libraries.performance.math.onednn.git
[submodule "thirdparty/libraries.gpu.ngen"]
	path = thirdparty/libraries.gpu.ngen
	url = https://github.com/intel-innersource/libraries.gpu.ngen.git
